//********************
//	VARIABLES
//

$font-size-base: 100%;

$color-base:            #ffffff;
$color-main: 		    #1F9FAE; 
$color-button: 		    #3697a7;
$color-text:            #ffffff;
$color-heading:         #000000;
$color-bg:              #333333;



$font-heading:     'Poppins', sans-serif;
$font-text:        'Poppins', sans-serif;

$debug: false;